p {
    color: rgb(0, 0, 0);
}

.cart-list {
    padding: 10px 10%;
}

.cart-list .cart-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-list .total {
    margin-top: 100px;
}

.cart-item .flexbox {
    text-align: right;
}

.cart-item .flexbox button {
    margin-top: 100px;
}

.cart-list button {
    padding: 5px 10px;
    margin: 5px 0px;
    width: 70px;
    padding: 5px 2px;
    margin: 10px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.cart-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: .7rem;
}

.cart-list .line {
    width: 100%;
    height: 2px;
    background-color: rgb(21, 21, 21);

}

.cart-list img {
    width: 100px;
}


@media screen and (max-width: 720px) {
    .cart-list .flexbox h1 {
        font-size: 1.3rem;
    }

    .cart-list img {
        width: 150px;
    }

    .cart-list {
        padding: 10px 5%;
    }

    .cart-item .flexbox button {
        margin-top: 160px;
    }
}